{% extends 'base.html' %}

{% block title %} Home {% endblock %}



{% block content %}


<div class = "container text-center mt-3 p-5" style = "max-width: 1400px;">

    {% for post in object_list %}

    <div id = "pst" class = "main mb-3" style = "border: 1px solid #FF4500; border-radius: 10px;">

        <a href = "{% url 'article-detail' post.pk %}">

            <div>
                <h1 class = "display-3"> {{post.title}} </h1>
            </div> 
            
            <div>
                <h3 style = "font-weight: lighter;"> By - {{post.author}}</h3> 
            </div>

            <div>
                <p> {{post.body|slice:":100"|safe}}.....<span style = "color: #7FFF00;"> Continue reading!!! </span></p>
            </div>

            <p style = 'color: red;'> Author contact - {{post.author.email}} </p>
        
        </a>    


    </div>

    {% endfor %}
</div>

{% endblock %}