{% extends 'base.html' %}

{% block title %} Detailed Post {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class = "conatainer m-5">
    
    <div>
        <h1 class = "display-1"> {{post.title}} </h1>
    </div> 
    
    <div>
        <h1 class = "display-4"> By - {{post.author}} | <b> <a href = "{% url 'category' post.category %}">({{post.category}})</a> </b></h1>
    </div>

    <div class = "mt-4">
        <p> <strong>Posted on</strong> - {{post.post_date}}</h1>
    </div>


    <hr class = "m-5" style = "background: darkgrey; height: 1px;" />

    <div>
        <p> {{post.body|safe}} </p>
    </div>

    <p style = 'color: red;'> Author contact - {{post.author.email}} </p> 

    {% if user.is_authenticated %}
    <div style = "display: flex;">
        <a class = "btn btn-outline-dark btn-md float-right m-5" style = "width: 100px;" href = "{% url 'update_post' post.pk %}"> Update </a>
        <a class = "btn btn-outline-dark btn-md float-right m-5" style = "width: 100px;" href = "{% url 'delete_post' post.pk %}"> Delete </a>
    </div>    
    {% endif %}

</div>

<div class = "text-center">
    <a class = "btn btn-dark mb-5" href = "{% url 'home' %}" style = "width: 150px;"> Go Back </a>
</div>

{% else %}

<div class = "container text-center mt-5">
    <h1 class = "display-3"> You are not authenticated yet !!!... </h1>

    <hr class = "mt-4 mb-4" style = "background: black; height: 3px; border-radius: 50%;">

    <h5> Authenticate Here,  </h5>

    <div>
        <a class = "btn btn-outline-dark btn-lg  m-5" style = "width: 200px;" href = "{% url 'login' %}"> SignIN </a>
        <a class = "btn btn-outline-dark btn-lg  m-5" style = "width: 200px;" href = "{% url 'register' %}"> SignUP </a>
    </div>

</div>

{% endif %}

{% endblock %}